<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Basic Calculator by Alex!</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: rgb(204, 204, 225);">
 <div class="login">
	<h1>Basic Calculator  v0.1 by Alex W.</h1>

     

    <form action="{{ url_for('show_res')}}"method="post">
        <input type="text" name="a" placeholder="Enter the first number" required="required" />
        <input type="text" name="b" placeholder="Enter the second number" required="required" />
        
        <div>
      
        <label for="add">Add<input type="radio" id="add" name="operation" value="add" checked />
        </label>
                
        <label for="subs">Substract<input type="radio" id="subs" name="operation" value="substract" />
        </label>
        
        <label for="mult">Multiplication<input type="radio" id="mult" name="operation" value="multiply" />
        </label>
                
        <label for="div">Division<input type="radio" id="div" name="operation" value="divide" />        
        </label>
        </div>
        
        
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Calculate</button>
    </form>

   <br>
   <br>
   {{ show_result }}

 </div>
</body>
</html>
